
p{
    text-align: center;
  }
  .nav_content
  {
      margin-left: 40px;
      margin-top: 40px;
      color: rgb(146, 102, 141);
  }
  .nav_content_main
  {
    text-align: center;
  }
  #test
  {
    margin-top: 100px;
    display: flex;
    justify-content: end;
  }